

html,body{
    margin:0;
    padding:0;
}
.header{
display: flex;
    background-image: url('/images/IMG_0313 1.png');
    width: 1920px;
    height: 1079px;
    flex-direction: column;
}
.menuheader{
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  display: flex;
  background: rgba(189,174,174,0.5);
  border-radius: 34px;
  width: 1824px;
}
.textmenu{

  font-size: 24px;
  color: #BCB7B7;

}
.logo{
    width:95px;
    height:110px;
}

.kurscripto{
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: white;
}
.buttop5 {
  width: 530px;
  height: 124px;
  border-radius: 157px;
  background: linear-gradient(to right,#0456F5,#00D1FF);
  font-size: 40px;
  color: #fff;
}
.cr1 {
    color: #0871E2;
}
.capital{
    font-size:18px;
}
.rinok {
    color: #0871E2;
}
.rinokcapital {
    font-size: 24px;
    margin-left: 50px;
}
.sravnicriptu {
    color: #0871E2;
}
.threecategors {
    font-size: 24px;
    margin-left: 50px;
}
.pricecripto {
    color: #0871E2;
}
.criptobirga {
    font-size: 24px;
    margin-left: 50px;
}
.footer {
  display: flex;
  background: #D9D9D9;
  flex-direction: column;
}
.allrights {
    font-size: 20px;
}
.otkaz {
    font-size: 20px;
}