*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Anton', sans-serif;
  color: #000;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}
main{
  padding-top: 113px;
}
p{
  margin: 0;
}
ul,li{
  display: block;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
.header{
  background-image: url(./img/header-bg.jpg);
  background-size: 100%;
  padding-bottom: 322px;
}
.header a{
  color: #fff;
}
.logo{
  margin-right: 69px;
}
.menu{
  display: flex;
}
.menu li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.menu li a:hover {
	border-bottom: 1px solid #fff;
}
.menu li{
  margin-right: 40px;
}
.tel{
  font-size: 17px;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 0.1em;
}
.nav{
  display: flex;
  align-items: center;
  padding-top: 57px;
}
.offer{
  text-transform: uppercase;
  margin-top: 216px;
  color: #fff;
}
.offer p{
  font-size: 30px;
  letter-spacing: 0.1em;
}
.offer h1{
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
  letter-spacing: 0.02em;
}
.btn{
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
  width: 238px;
  transition: all 0.5s ease;
}
.btn:hover{
  background: #fff;
  color: #000;
}
h2{
  font-size: 50px;
  margin-bottom: 58px;
}
h3{
  font-size: 25px;
}
.description{
  display: flex;
  justify-content: space-between;
}
.description p{
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}
.desc-left, .desc-right{
  width: 567px;
}
.gallery{
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
}
.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}
.footer{
  padding-top: 113px;
}
.footer-text{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 114px 0;
}
.footer-text p{
  margin-right: 60px;
}